@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

form {
  width: 90%;
  max-width: 300px;
  background-image: url("../fondo.png");
  padding: 33px 40px;
  display: flex;
  border-radius: 26px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins";
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
  margin-bottom: 26px;
}

textarea {
  background-color: whitesmoke;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #2d266d;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100% - 10px);
}

textarea::placeholder {
  color: #bbbbbb;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
}

textarea:focus {
  outline-color: #bbbbbb;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  color: wheat;
  font-weight: 400;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat';
}

.TodoForm-button--add {
  font-weight: bold;
  background: #2d266d;
  box-shadow: 0px 5px 25px rgba(53, 70, 29, 0.5);
}

.TodoForm-button--cancel {
  font-weight: bold;
  background: transparent;
}
