.TodoSearch {
  background: whitesmoke;
  border-radius: 12px;
  border: 1px;
  margin: 0 24px;
  height: 40px;
  width: calc(100% - 62px);
  font-size: 20px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #2c2b33;
}

.TodoSearch::placeholder {
  color: #bbbbbb;
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
}

.TodoSearch:focus {
  outline-color: gray;
}
